.companyWrap {
    display: flex;
    align-items: center;
    padding-left: 8px;
    margin-bottom: 2px;
    color: var(--text-color-bk);
    font-size: 16px;
    font-weight: 700;
    line-height: 150%;
}
.companyWrap .count {
    padding-right: 6px;
}

.dateWrap {
    display: flex;
    align-items: center;
    gap: 0 8px;
    padding-left: 8px;
    font-size: 12px;
    color: var(--text-color-darkgray);
}
.dateWrap .date {
    font-weight: 700;
    color: var(--text-color-bk);
}