.box-title-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8px 12px;
}
.box-title-wrap:last-child,
.box-title-wrap:only-child {
    padding-bottom: 0;
}
.box-title-wrap .box-title {
    display: flex;
    align-items: center;
    gap: 0 12px;
    font-size: 16px;
    font-weight: 700;
    font-family: 'Pretendard Bold';
    line-height: 150%;
}
.box-title-wrap .box-title .text {
    font-size: 14px;
    font-weight: 500;
    line-height: 160%;
    color: var(--text-color-darkgray);
}
.box-title-wrap .box-title .tag {
    display: inline-flex;
    padding: 4px 8px;
    background: var(--bg-lightgray);
    border-radius: 4px;
    font-size: 13px;
    font-weight: 500;
    line-height: 100%;
}
.box-title-wrap .box-title .tag.open {
    background: var(--primary-color);
}
.content-area [class*="tag"] {
    margin-right: -2px;
}

[class*="file-attach"] .box-title-wrap {
    border-bottom: 0;
}
[class*="file-attach"] .content-area {
    padding: 0;
    border-top: 0;
}

/* 조회 영역 dropdown */
.search-box {
    margin: 18px 18px 14px;
    border-radius: 16px;
    background-color: var(--bg-lightgray);
}
.search-box .box-title-wrap {
    padding: 16px;
    border-bottom: none;
    margin-bottom: 0;
}
.search-box .content-area {
    border-top: none;
    padding: 4px 12px 16px;
}

/* AP 전표 */
[class*="info-box"] .box-title-wrap {
    padding-top: 4px;
    padding-left: 0;
    padding-right: 0;
    border-color: var(--border-color-gray);
}
[class*="info-box"] .box-title-wrap .box-title {
    font-size: 14px;
}